<p style="color: green"><%= notice %></p>

<h1 class="ideas-index">Listing Ideas</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <div class="ideas-list">
      <div class="ideas-list-name">
        <p>
          <img src="<%= idea.picture %>" alt="<%= idea.name %>" />
        </p>
            <%= link_to idea.name, idea %>
      </div>
    </div>
  <% end %>
</div>