/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
body { margin: 0; }
.navbar {
    min-height: 38px;
    background-color: #ECA72C;
  }
  .navbar-brand { 
    font-size: 24px;
    color: #080357;
}
  .navbar a.brand:hover {
   color: #fff;
   background-color: transparent;
   text-decoration: none;
  }
  .container {
      margin: auto  ;
  }

  #pic {
    width: 20vw;
  }

  

  .search-results {
    
    width: 80%;
    margin: 0 auto;
  }
  
  .idea-container {
    display: flex;
    flex-direction: column;
  }
  
  .idea {
    padding: 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
  }
  
  .idea h2 {
    margin: 0;
  }
  
  .idea p {
    margin: 0;
  }
  
  .idea img {
    width: 100px; 
    height: auto; 
    display: block; 
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  

  
  .ideas-index {
    font-weight: bold;

  }
  
  .ideas-list {
    margin: 20px 0; 
    flex-direction: column;
  }
  
  .ideas-list img {
    width: 200px; 
    height: auto; 
    display: block; 
  }


  
  .ideas-list-name {
    font-size: 40px; 
  }
  
  
.input-group {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}